extends ../layout

block head
  title Flatly is Ready

block body
  div.hero-unit
    h1 Flatly
    p.lead Your website is read to customize
  div.row
    div.span6
      h3 About Us
      p
        |At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        |praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
        |excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        |qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      a.btn(href="/about.html") Learn More
    div.span6
      h3 Contact Us
      p
        |At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        |praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
        |excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        |qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      a.btn(href="/contact.html") Learn More