<div class="hero-unit">
  <h1>Flatly</h1>
  <p class="lead">Your website is read to customize.</p>
</div>
<div class="row">
  <div class="span6">
    <h3>About Us</h3>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
      excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </p>
    <a href="/about.html" class="btn">Learn More</a>
  </div>
  <div class="span6">
    <h3>Contact Us</h3>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
      excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </p>
    <a href="/contact.html" class="btn">Learn More</a>
  </div>
</div>