doctype 5
html
  head
    block head
      title Flatly
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/assets/css/utility.css')
    block neck
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Flatly
          div.nav-collapse
            ul.nav
              li: a(href='/') Home
              li: a(href='/about.html') About
            ul.nav.pull-right
              li: a(href='/contact.html') Contact
    
    div.page
      div.container
        block body
    
    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; 2013 Acme, Inc.
          ul.links
            li: a(href='/') Home
            li: a(href='/about.html') About
            li: a(href='/contact.html') Contact
          div.clearfix
    
    script(src='/assets/js/jquery-1.9.1.min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/utility.js')
    
    block feet